/***********************
** MEDIA QUERY MANAGER***
**************/

@mixin respond($breakpoint) {
  @if $breakpoint == sm {
    @media only screen and (max-width: 37.5em) {
      @content;
    } //600px
  }
}

/**************
** VARIABLES***
**************/

$color-primary: #6b48ff;
$color-primary-dark: #5d37ff;

$color-secondary: #1ee3cf;
$color-secondary-dark: #1bd5c2;

$color-white: #f2f4f6;
$color-black: #212121;

$color-danger: #ff487e;
$color-success: #64e291;

/***************
** ANIMATIONS ***
**********/

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

/**********
** RESET***
**********/

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;

  @include respond(sm) {
    font-size: 57%;
  }
}

body {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: $color-black;
}

input[type='file'] {
  display: none;
}

/************
** LAYOUT ***
**********/

.main-container {
  display: flex;
  margin: 4rem 0;
  flex-direction: column;
  align-items: center;

  @include respond(sm) {
    margin: 0;
  }
}

.color-picker-container {
  display: flex;
  margin: 2rem 0;

  .color-picker {
    margin-right: 1.5rem;
  }
}

/************
** BUTTONS ***
**********/

.btn {
  font: inherit;
  display: inline-block;
  text-decoration: none;
  font-size: 1.5rem;
  padding: 1rem 2rem;
  border-radius: 3px;
  border: none;
  cursor: pointer;

  transition: all 0.2s;

  @include respond(sm) {
    display: block;
    text-align: center;
    margin-bottom: 1rem;
  }

  &--primary {
    background: $color-primary;
    color: $color-white;

    &:hover {
      background: $color-primary-dark;
    }
  }

  &--secondary {
    background: $color-secondary;
    color: $color-black;

    &:hover {
      background: $color-secondary-dark;
    }
  }
}

// Utilities
.u-ml-1 {
  margin-left: 1rem;

  @include respond(sm) {
    margin-left: 0;
  }
}

.u-sm-width-100 {
  @include respond(sm) {
    width: 100%;
  }
}

.visible {
  visibility: visible !important;
}
